<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    {% block body%}
    <div class="bg"> 
      <br>
      <div class="name">
      <span>Your Medical Expert</span>
      </div>
      <br>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-center">
              <li class=""><a href="/">HOME</a></li>
            </ul>
          </div>
        </nav>
    <div>
        <button class="tablink" onclick="openTab('Symptom', this, 'Violet')" id="defaultOpen">Predict The Disease</button>
    </div>

<div id="Symptom" class="tabcontent">
  <form name="SymptomForm" id="SymForm" method="POST" action=/disease_predict>
    <div class="head">
      Select The Symptoms
    </div>
    <div class="form-group">
      <label for="Symptom1">Symptom 1</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom1">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>

      <label for="Symptom2">Symptom 2</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom2">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>

      <label for="Symptom3">Symptom 3</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom3">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>

      <label for="Symptom4">Symptom 4</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom4">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>

      <label for="Symptom5" >Symptom 5</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom5">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>

    </div>
    
    <button type="submit" class="btn btn-primary" name=form>Predict</button>
</form>
</div>
</div>

</div>
<script>

  
function openTab(tabName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(tabName).style.display = "block";
    elmnt.style.backgroundColor = color;

}

document.getElementById("defaultOpen").click();

</script>

    {% endblock %}
  </body>
</html>